<!-- this is views/klass/index -->
<ui-view>
  <div class="row">
    <div class="col-md-12">
      <a href="#!/klass/add" class="btn btn-primary" type="button">增加</a>
    </div>
  </div>
  <br />
  <div class="rpw">
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <td>序号</td>
          <td>班级名称</td>
          <td>教师</td>
          <td>操作</td>
        </tr>
        <tr ng-repeat="(key,klass) in klasses | orderBy: '-id'" ng-hide="klass._delete">
          <td>{{$index + 1}}</td>
          <td>{{klass.name}}</td>
          <td>{{klass.teacher.name}}</td>
          <td>
            <a class="btn btn-primary" href="#!/klass/view/{{klass.id}}">查看</a>
            <a class="btn btn-primary" href="#!/klass/edit/{{klass.id}}">编辑</a>
            <button class="btn btn-danger" ng-click="delete(klass)">删除</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ui-view>
